
@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model List<LivelCMSSystem.Models.InvoiceViewModel>
@inject LivelCMSSystem.Core.Repository.ICustomerService customerService
@inject LivelCMSSystem.Core.Repository.IInvoiceStatusService invoiceStatusService
@inject LivelCMSSystem.Core.Repository.IInvoiceService invoiceService   
<div class="content">
    <div class=" container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Quản lý đơn hàng </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã HĐ</th>
                                    <th>Tên khách hàng</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày lập</th>
                                    <th>Gía trị</th>
                                    <th>Nợ</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.Id.ToString().Substring(0, 5)</td>
                                    <td>
                                        @customerService.Read(item.CustomerId.Value).Name
                                    </td>
                                    <td> @invoiceStatusService.Read(item.Status.Value).Name</td>
                                    <td>
                                        @item.CreatedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                                    </td>
                                    <td>@item.TotalPrice.Value.ToString("0")</td>
                                    <td>@item.RemainDebt.Value.ToString("0")</td>
                                    <td><a asp-action="InvoiceDetail" asp-controller="Invoice" asp-route-id="@item.Id" id="update">Chi tiết</a></td>
                                </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
