
@{
    ViewData["Title"] = "Receipt";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model List<LivelCMSSystem.Models.ReceiptViewModel>
@inject LivelCMSSystem.Core.Repository.ICustomerService customerService 
<div class="content">
    <div class=" container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Quản lý chứng từ</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã chứng từ</th>
                                    <th>Mã hóa đơn</th>
                                    <th>Số tiền nhận (VND)</th>
                                    <th>Ngày lập </th>
                                    <th>Ghi chú</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.Id.ToString().Substring(0, 5)</td>
                                    <td>
                                        @item.InvoiceId.Value.ToString().Substring(0,5)
                                    </td>
                                    @if (item.ReceivedAmount != null)
                                    {
                                        <td>@item.ReceivedAmount.Value.ToString("N0")</td>
                                    }
                                    else
                                    {
                                        <td>0</td>
                                    }
                                    <td> @item.CreatedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                                    <td>@item.Description</td>
                                    <td><a asp-action="ReceiptDetail" asp-controller="Receipt" asp-route-id="@item.Id"id="update">Chi tiết</a></td>
                                </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
